/tods/src/assets/treepic8.png
/tods/src/assets/treepic7.png
/tods/src/assets/treepic6.png
/tods/src/assets/treepic4.png
/tods/src/assets/treepic3.png
/tods/src/assets/treepic2.png
/tods/src/assets/stars-mountains-trees-colorful-minimalist-artwork-37.jpg
/tods/src/assets/pixil-frame-0 (38).png
/tods/src/assets/design-you-a-minimalist-wallpaper.jpg     
/tods/src/assets/mountain-with-night-purple-sky-background_18047-35.jpg
/node_modules
/server
