/* 9c89b8 
ca7df9*/
:root {
  --theme: localStorage.getItem("theme");
  --thm: localStorage.getItem("thm");
  --thmt: localStorage.getItem("thmt");
  --textthm: localStorage.getItem("textthm");
  --line: localStorage.getItem("line");
  --logout: black;
  --mile : #F3DE8A;
  --today: #e7292900 ;
  --sec:#71bdc700;
}

body {
  background-color: #efbba0;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
@font-face {
  font-family: "Disposable DroidBB";
  font-style: normal;
  font-weight: 400;
  src: local("Disposable DroidBB"),
    url("./assets/DisposableDroidBB.otf") format("opentype"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "Disposable DroidBBold";
  font-style: normal;
  font-weight: 400;
  src: local("Disposable DroidBBold"),
    url("./assets/DisposableDroidBB_bld.otf") format("opentype"); /* IE9 Compat Modes */
}
.iconify {
  width: 35px;
  height: 35px;
  padding-top: 5px;
}
.night {
  float: left;
  padding-top: 3px;
}


.dot {
  position: absolute;
  top: 12px;
  left: 5%;
  height: 15px;
  width: 15px;
  background-color: var(--theme);
  border-radius: 40%;
  display: inline-block;
}

.nightoggle {
  position: absolute;
  top: 12px;
  left: 5%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.button {
  font-family: "Disposable DroidBBold";
  font-size: 25px;
  cursor: pointer;
  outline: none;
  width: 4em;

  margin: 10px 20px 10px 20px;
  background: #ffffff;
  color: #3f70bb;

  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;

  -webkit-box-shadow: -5px 5px 0px #000000;
  -moz-box-shadow: -5px 5px 0px #000000;
  box-shadow: -5px 5px 0px #3f70bb;

  -webkit-transition: width 0.32s ease-in;
  transition: width 0.32s ease-in;
}
.button:hover {
  width: 6em;
}

body {


  width: 100%;
  height: 100%;

}

.bg {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-color: black;
  background-position: 0px 0px;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

/* .home {
  background-color: var(--thmt);
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  height: 100vh;
} */

.home .sideBar {
  position: absolute;
  width: 30%;
  top: 10%;
  left: 0px;
  padding: 5px;
  height: 90%;
  background-color: var(--thm);
}

.home .footer {
  position: absolute;
  bottom: 0px;
  left: 30%;
  width: 70%;
  background-color: var(--thmt);
}
.handels {
  float: right;
}

.handels i {
  padding: 0.4em;
}
.fa-flag:hover {
  color: purple;
}

.home .Logobar {
  background-color: black;
  height: 10vh;
  padding-left: 15px;
  color: #3f70bb;
  font-size: 2.9em;
  padding-top: 5px;
  border-bottom: 3px solid var(--theme);
  font-family: "Disposable DroidBBold";
}

/* TODO  LOGIN */
.loginStyle {
  position: absolute;
  width: 30%;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: var(--logout);
}

@media (min-width: 1000px) {
  body {
    background-color: black;
  }
  .bg{
    background-position: 100% 40%;
  }
  
  .home .dotp {
    height: 7px;
    width: 7px;
    position: absolute;
    left:50%;
    top:10px;
    background-color: var(--textthm);
    border-radius: 50%;
    display: inline-block;
  }
  .home .todoList {
    position: absolute;
    left: 10px;
    width: 70%;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 85%;
    scroll-behavior: smooth;
  }

  .home .AllDone .iconify {
    width: 50%;
    height: 50%;
  }
  .AllDone {
    text-align: center;
  }

  .home .chill {
    text-align: center;
    font-size: 1.3em;
    top: 28%;
    left: -15%;
    position: relative;
  }
  .home .contentView {
    color: var(--textthm);
    padding-left: -100px;
    left: 5%;
    position: relative;
    width: 78%;
    font-size: 1.3em;
    padding-top: 0.3em;
  }
  .todoButtons {
    display: inline-block;
    position: absolute;
    float: right;
    right: 6%;
    width: 20%;
  }

  .loginStyle {
    position: absolute;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: var(--logout);
  }
  .addtodo {
    float: left;
    padding-left: 0.6em;
  }
  .Logo {
    background-color: var(--thm);
    padding-top: 25px;
    padding-left: 25px;
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: "Disposable DroidBBold";
  }
  .dot {
    position: absolute;
    top: 12px;
    left: 3%;
    height: 15px;
    width: 15px;
    background-color: var(--theme);
    border-radius: 40%;
    display: inline-block;
  }
  
  .home .todoLine {
    max-width: 100%;
  }
  .home .sideBar {
    position: absolute;
    width: 17%;
    top: 10%;
    padding: 15px;
    left: 0px;
    height: 90%;
    background-color: var(--thm);
  }
  .home .todoButtons {
    right: 10%;
  }
  .home .deletebut {
    height: 15px;
    width: 15px;
    padding-right: 1em;
  }

  .home .viewCommentsbut {
    height: 15px;
    width: 15px;
    padding-right: 2.5em;
  }

  .home .editTaskbut {
    height: 15px;
    width: 15px;
    padding-right: 2.5em;
  }
  .home .todoInputs .button {
    padding-bottom: 0.5em;
    padding-top: 10px;
    left: 0%;
    height: 40px;
    position: relative;
    text-align: center;
  }

  .home .AllDone .iconify {
    height: 40%;
    width: 40%;
  }

  .home .footer {
    position: absolute;
    bottom: 0px;
    left: 17%;
    width: 83%;
    background-color: var(--thmt);
  }

  .home .addTodo {
    text-align: center;
    position: absolute;
    top: 45%;
    width: 17%;
  }
  .home .todoList {
    position: absolute;
    left: 17%;
    width: 83%;
    padding: 3em;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 85%;
    scroll-behavior: smooth;
  }
}

.loginInputs {
  padding-top: 10em;
  color: #3f70bb;
  text-align: center;
  outline: none;
  font-family: "Disposable DroidBB";
}

.loginInputs .button {
  width: 50%;
}

.loginInputs .button:hover {
  width: 60%;
}

.RegisterBox .button {
  width: 70%;
}

.RegisterBox .button:hover {
  width: 80%;
}

.home .Logobar {
  background-color: black;
  height: 10vh;
  padding-left: 15px;
  color: #3f70bb;
  font-size: 3.2em;
  padding-top: 7px;
  border-bottom: 3px solid var(--theme);
  font-family: "Disposable DroidBBold";
}

.taskinputl {
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  color: #3f70bb;
  box-shadow: none;
  border-radius: 0.1em;
  border-top: orchid;
  border-right: orchid;
  border-left: orchid;
  outline: none;
  background-color: var(--thm);
  border-color: #3f70bb;
  width: 80%;
}

#loginbu {
  float: left;
  outline: none;
}

#Username {
  padding: 1em;
}
#Pass {
  padding-bottom: 1em;
}
#fnre {
  padding: 1em;
}
#passre {
  padding: 1em;
}
#usernamere {
  padding: 1em;
}
#Usernamee {
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  color: #3f70bb;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0.1em;
  border-top: orchid;
  border-right: orchid;
  border-left: orchid;
  outline: none;
  border-color: #3f70bb;
}

.RegisterButton {
  position: relative;
  top: 0px;
  padding: 1em;
  float: right;
  height: 100%;
  color: black;
  font-size: 25px;
  font-family: "Disposable DroidBBold";
}

.RegisterBox {
  font-family: "Disposable DroidBBold";
  position: relative;
  color: blanchedalmond;
  top: 40px;
  text-align: center;
  left: 130px;
  padding: 1em;
  float: right;
  height: 100%;
  padding-left: 1em;
}

.Logo {
  background-color: var(--thm);
  padding-top: 25px;
  padding-left: 1%;
  color: #3f70bb;
  font-size: 4em;
  text-align: center;
  font-family: "Disposable DroidBBold";
}

/* TODO  Home */

.logoutStyle {
  float: right;
  color: white;
  padding-right: 1em;
  font-size: 0.7em;
  cursor: pointer;
  top: 20%;
  position: relative;
}

.User {
  padding: 2em;
  top: 300px;
  left: 100px;
  font-family: "Work Sans", sans-serif;
}

.addTodo {
  padding-left: 1.2em;
  position: absolute;
  background-color: var(--thm);
  top: 45%;
  width: 30%;
}
.ddd {
  position: absolute;
  background-color: darkblue;
  top: 20em;
  left: 20em;
}
.todoList {
  position: absolute;
  left: 30%;
  top: 10%;
  width: 70%;
  padding: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 85%;
  background-color: var(--thmt);
  scroll-behavior: smooth;
}

.count {
  padding-left: 10px;
  padding-bottom: 1em;
  position: relative;
}
.greet {
  padding-left: 10px;
  display: inline-block;
  padding-bottom: 1em;
}
.name {
  position: relative;
  display: inline;
  padding-left: 0.1em;
  color: var(--theme);
}

.chill {
  text-align: center;
  font-size: 1.3em;
  top: 30%;
  left: -15%;
  position: relative;
}

.unfinished {
  color: var(--theme);
  display: inline;
}
.addtodotext {
  width: 30%;
  display: inline-block;
}
.tasktitle {
  position: relative;
  display: inline;
  color: var(--theme);
}
.peace {
  text-align: center;
  background-color: dodgerblue;
  position: relative;
  height: 10%;
  width: 10%;
  padding-top: 10em;
}

.importance {
  width: 2em;
}

.dotss .dot{
  position: relative;
  left:-10%;
  margin-left: 10px;
}

@keyframes strike {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
}

.strike {
  color: cornsilk;
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
}

.strike:before,
.strike:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.strike:before {
  left: -5px;
}
.strike:after {
  right: 5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:after {
  background: transparent;
  width: 100%;

  transition: 0s;
}

.striked {
  text-decoration: line-through;
  position: relative;
  color: var(--line);
  text-decoration-color: var(--theme);
  transition: linear 0.6s;
}
.unstriked {
  color: var(--textthm);
  text-decoration-color: var(--theme);
  transition: linear 0.6s;
}
.taskinput {
  background-color: var(--thm);
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  color: var(--theme);
  width: 90%;
  box-shadow: none;
  border-radius: 0.1em;
  border-top: orchid;
  border-right: orchid;
  border-left: orchid;
  outline: none;
  border-color: var(--theme);
}

.todoInputs .button {
  padding-bottom: 0.5em;
  padding-top: 10px;
  background-color: rgb(104, 26, 192);
  left: 22%;
  height: 40px;
  position: relative;
  text-align: center;
}

.plusbut {
  float: center;
  top: -8px;
  position: relative;
}

.home .button {
  color: var(--theme);
  background-color: var(--thm);
  width: 70px;
  border-radius: 30.2m;
  box-shadow: -5px 5px 0px var(--theme);
  border-color: gray;
}
.home .button:hover {
  width: 60px;
  box-shadow: -5px 5px 0px var(--theme);
}

.force-overflow {
  min-height: 450px;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

.home .todo {
  padding: 1em;
  border-bottom: 1px solid var(--line);

  background-color: var(--thmt);
}

.todoButtons {
  float: right;
}
.todoWrapper {
  display: inline-block;
  *display: inline;
  zoom: 1;
  max-width: 76%;
}

.addContent {
  background-color: var(--textthm);
  height: 25px;
}

.grab {
  height: 20px;
  width: 20px;
  float: right;
  position: relative;
  cursor: pointer;
  bottom: 48px;
}
.grab .iconify {
  width: 35px;
  height: 35px;
}

.grab .iconify {
  color: var(--theme);
}

.todoButtons .iconify {
  width: 25px;
  height: 25px;
}

.todoButtons {
  display: inline-block;
  position: absolute;
  float: right;
  right: 10%;
  max-width: 40%;
}

.deletebut {
  display: inline;
  float: right;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
}

.todoLine {
  float: left;
}

.deletebut .iconify {
  color: red;
}

.editTaskbut {
  display: inline;
  float: right;
  padding-left: 5px;
  cursor: pointer;

  position: relative;
}
.editTaskbut .iconify {
  color: var(--theme);
}

.viewCommentsbut {
  display: inline;
  float: right;
  cursor: pointer;
  padding-left: 5px;
  position: relative;
}

.viewCommentsbut .iconify {
  color: var(--theme);
}

.Addcontentbutin {
  background-color: var(--thmt);
  display: inline;
  float: left;
  outline: none;
  position: relative;
  border: 0px solid;
  color: var(--theme);
  font-size: 1.5em;
  padding-right: -1em;
  left: -10px;
}
.addContentbut .iconify {
  color: var(--theme);
}

.contentView {
  color: var(--textthm);
  left: 10%;
  position: relative;
  width: 80%;
  font-size: 1.3em;
  padding-top: 0.9em;
}

.deleteContent {
  color: red;
  display: inline;
  float: left;
  font-weight: bold;
  font-size: 1em;
  padding-right: 0;
  cursor: pointer;
  position: relative;
  left:-20px;
  
}

.EditandAdd {
  color: var(--textthm);
  left: 10%;
  position: relative;
  width: 80%;
  font-size: 1.1em;
  padding-top: 0.9em;
}

.Editinput {
  background-color: var(--thmt);
  letter-spacing: 2px;
  font-size: 1.1em;
  text-align: center;
  color: var(--textthm);
  width: 80%;
  border: 1px solid;
  box-shadow: none;
  border-radius: 0.1em;
  border-top: orchid;
  border-right: orchid;
  border-left: orchid;
  outline: none;
  border-color: var(--theme);
}

.home .multiplybut {
  color: rgb(101, 86, 240);
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  display: inline;
  float: left;
  padding-right: 1em;
}

.Addcontentbut {
  color: rgb(104, 26, 192);
  font-weight: bold;
  font-size: 1.5em;
  display: inline;
  float: left;
  padding-right: 1em;
}

.ContentInput {
  background-color: var(--thmt);
  letter-spacing: 2px;
  font-size: 1.1em;
  text-align: center;
  color: var(--textthm);
  width: 80%;
  border: 1px solid;
  box-shadow: none;
  border-radius: 0.1em;
  border-top: orchid;
  border-right: orchid;
  border-left: orchid;
  outline: none;
  border-color: var(--theme);
}




.AllDone .iconify {
  width: 70%;
  height: 70%;
}

.AllDone {
  text-align: center;
  padding-top: 2em;
  color: var(--thm);
}
.stats {
  padding: 1px;
  padding-top: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(120deg, var(--theme), #4eec9d, var(--textthm));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 2.5s infinite linear;
}


@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


a {
  color: inherit;
}

.trees {
  position: relative;
  float: left;
  height: 30%;
  top: 40%;
  display: inline;
  width: 30%;
}

.trees img {
  position: absolute;
  padding: 1em;
  display: inline;
}

.tree2 {
  padding: 1em;
  left: -60px;
  top: -40px;
  display: inline;
}

.tree3 {
  padding: 1em;
  left: -20px;
  top: 2px;
  display: inline;
}

.MobileDisclaimer {
  display: none;
}

.registerbutton {
  padding: 2px;
  cursor: pointer;
}
.loader {
  position: relative;
  left: 40%;
  top: 40%;
}

.Artwork{
  font-size: 0.8em;
  color: darkslateblue;
  position: absolute;
  bottom:0;
  right: 20px;
  padding-bottom: 20px;
  position: fixed;
}

@media (max-width: 500px) {

  .MobileDisclaimer {
    display: inline-block;
    font-size: 1em;
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

  .loginInputs {
    padding-top: 10em;
    color: #3f70bb;
    text-align: center;
    outline: none;
    font-family: "Disposable DroidBB";
    padding-right: -10px;
  }
  .home .dotp {
    height: 7px;
    width: 7px;
    left: 80px;
    top:30px;
    background-color: var(--textthm);
    border-radius: 50%;
    display: inline-block;
  }
  .loginInputs .button {
    width: 50%;
    font-size: 1.4em;
  }
  .loginInputs .button:hover {
    width: 60%;
  }

  .todoList ul {
    padding-left: 2px;
  }

  .todoList {
    padding: 1px;
    padding-top: 10px;
  }

  .addTodo {
    padding-top: 0.5em;
    position: Ab;
    top: 60%;
  }


  .loader {
    position: relative;
    left: 30%;
    top: 40%;
  }

  .greet {
    font-size: 1.5em;
    width: 20%;
  }

  .chill {
    position: relative;
    font-size: 1.3em;
    bottom: 0px;
    left: 5px;
    top: 0%;
    font-size: 1.1em;
  }

  .handels {
    height: 2px;
  }
  .count {
    font-size: 1.5em;
    width: 20%;
  }
  .tree3 {
    left: -70px;
  }
  .Logo {
    font-size: 2.3em;
  }
  .taskinputl {
    width: 80px;
    font-size: 1.2em;
  }
  .RegisterBox {
    left: 20%;
    width: 40%;
    padding: 0;
  }

  #Usernamee {
    width: 180px;
  }

  .button {
    width: 2em;
  }

  .button:hover {
    width: 3em;
  }

  .trees {
    height: 0px;
    width: 20px;
    top: 50%;
  }
  .tree {
    visibility: hidden;
  }
  .tree3 {
    top: 70%;
  }

  .trees img {
    top: -30vh;
  }

  .loginStyle {
    width: 35%;
  }

  .deletebut {
    height: 5px;
    width: 5px;
    padding-right: 20px;
  }

  .viewCommentsbut {
    height: 5px;
    width: 5px;
    padding-right: 20px;
  }

  .editTaskbut {
    height: 5px;
    width: 5px;
    padding-right: 20px;
  }

  .todoInputs button {
    text-align: center;
  }

  .todoInputs .button {
    font-size: 1.7em;
    height: 30px;
    width: 40px;
    text-align: center;
    top: 10px;
    left: -5px;
    position: relative;
  }

  .plusbut {
    position: relative;
    top: -10px;
  }

  .count {
    font-size: 1.4em;
    width: 10px;
  }
  

  .greet {
    font-size: 1.4em;
  }

  .chill {
    font-size: 1.1em;
  }

  .todoLine {
    font-size: 0.9em;
  }

  .trees {
    position: relative;
    left: 2%;
    top: 70%;
  }

  .tree2 {
    visibility: hidden;
  }

  .contentView {
    font-size: 1.1em;
  }

  .strike {
    color: cornsilk;
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
  }

  .strike:before,
  .strike:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }

  .strike:before {
    left: -10px;
  }
  .strike:after {
    right: 5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .strike:hover:before {
    background: transparent;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .strike:hover:after {
    background: transparent;
    width: 0%;

    transition: 0s;
  }

  .striked {
    text-decoration: line-through;
    position: relative;
    color: var(--line);
    text-decoration-color: var(--theme);
    transition: linear 0.6s;
  }
  .unstriked {
    color: var(--textthm);
    text-decoration-color: var(--theme);
    transition: linear 0.6s;
  }
  .grab {
    left: -8px;
    float: left;
    position: relative;
    cursor: pointer;
    top: -45px;
    padding-right: 10px;
    padding-left: -1px;
  }

  .grab .iconify {
    height: 23px;
    width: 23px;
  }
  .todoButtons {
    display: inline-block;
    position: absolute;
    float: right;
    right: 6%;
    width: 40%;
  }

  .deletebut {
    height: 15px;
    width: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .viewCommentsbut {
    height: 15px;
    width: 15px;
    padding-right: 15px;
  }

  .editTaskbut {
    height: 15px;
    width: 15px;
    padding-right: 15px;
  }
  .deletebut .iconify {
    height: 20px;
    width: 20px;
  }

  .viewCommentsbut .iconify {
    height: 20px;
    width: 20px;
  }

  .editTaskbut .iconify {
    height: 20px;
    width: 20px;
  }
  
  .dotss .dot{
    position: relative;
    left:-2%;
    margin-left: 3px;
  }
  .home .quesmark{
    color: #3f70bb;
      font-size: 1.4em;
      background-color: #00000000;
      top:10px;
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
      border-bottom: hidden;

      left: -5%;

      position: relative;
      font-family: "Disposable DroidBBold";
  }
  .home .infouse {
    color: #3f70bb;
    font-size: 1.0em;
    background-color: #e93030f5;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    width:38%;
    top:-190%;
    left:-38%;
    background-color: var(--thm);
    position: absolute;
    font-family: "Disposable DroidBBold";
  }
  .night .iconify{
    height: 24px;
    width: 24px;
  }

  .night{
    position: absolute;
    left: 7px;
    top: 25px;
  }
   

  .bg{
    background-position: 40% 50%;
  }
  
  #Usernamee{
  width: 100%;
  font-size: 1.1em;
  position: relative;
  }

  .RegisterBox{
    position: absolute;
    left:60%;
    padding-top: 10px;
  }

  .RegisterBox .button{
    height: 30px;
    width: 70%;
    padding-top: 2px;
    font-size: 1.3em;
  }
  
  .home .Logobar {
    height: 10vh;
    padding-left: 15px;
    color: #3f70bb;
    font-size: 2.3em;
    padding-top: 1vh;
    border: 3px solid var(--theme);
    border-top: hidden;
    border-left: hidden;
    border-right: hidden; 
    
    font-family: "Disposable DroidBBold";
  }

  .Artwork{
    font-size: 0.6em;
    color: darkslateblue;
    position: absolute;
    bottom:0;
    right: 20px;
    padding-bottom: 20px;
    position: fixed;
  }

  .home .infouse {
  color: #3f70bb;
  font-size: 1.0em;
  background-color: #00000000;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  width:38%;
  top:-190%;
  left:-38%;
  background-color: var(--thm);
  position: absolute;
  font-family: "Disposable DroidBBold";
}

  .home .quesmark{
    color: #3f70bb;
      font-size: 1.7em;
      background-color: #00000000;
      top:10px;
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
      border-bottom: hidden;
      top:8%;
      left:10%;
  
      position: absolute;
      font-family: "Disposable DroidBBold";
  }

  
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.home{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.home .infouse {
  color: #3f70bb;
  font-size: 1.0em;
  background-color: #00000000;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  width:100px;
  top:-190%;
  left:38px;
  background-color: var(--thmt);
  position: absolute;
  font-family: "Disposable DroidBBold";
}

.home .quesmark{
    color: #3f70bb;
    font-size: 1.7em;
    background-color: #00000000;
    top:10px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    top:8%;
    left:10%;

    position: absolute;
    font-family: "Disposable DroidBBold";
}
.home .todoList {
  overflow-style: var(--theme);

  overflow-y: scroll; /* Hide vertical scrollbar */
  overflow-x: hidden;
}

.todoList::-webkit-scrollbar {
  width: 2.5px;
  background: var(--theme);
}

.todoList::-webkit-scrollbar-thumb {
  background: var(--thm);
}

@media (pointer:none), (pointer:coarse) {
  .home .Logobar {
    height: 10vh;
    padding-left: 15px;
    color: #3f70bb;
    font-size: 2.3em;
    padding-top: 1vh;
    border: 10px solid var(--theme);
    border-top: hidden;
    border-left: hidden;
    border-right: hidden; 
    font-family: "Disposable DroidBBold";
  }
  .home{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
  }
}

.home .mile{
  /* background-color: var(--mile); */
  font-family: 'Courier New', Courier, monospace;

  font-size: 15px;
}
.dotp {
  height: 7px;
  width: 7px;
  left: -10px;
  top:10px;
  background-color: var(--textthm);
  border-radius: 50%;
  display: inline-block;
}

.home .sec{
  border-radius: 3px;
  background-color: var(--sec);
}

.home .today{
  border-bottom: 1px solid var(--line);

  background-color: var(--today);
}

.home .todayclas{
  background-color: var(--today);

  color:var(--textthm)
}
.home .secclas{
  background-color: var(--sec);
  color:var(--textthm)
}
.home .mileclas{
  /* background-color: var(--mile); */
  font-size: 20px;
  color: gold
}



@media (max-width: 290px) {
  
  .Addcontentbutin {
    background-color: var(--thmt);
    display: inline;
    float: left;
    outline: none;
    position: relative;
    border: 0px solid;
    color: var(--theme);
    font-size: 1em;
    padding-right: -1em;
    left: -10px;
  }
  
  .count {
    font-size: 1em;
  }

  .todoInputs .button {
    position: relative;
    left: 20%;
  }

  .home .Logobar {
    background-color: black;
    height: 10vh;
    padding-left: 15px;
    color: #3f70bb;
    font-size: 2.3em;
    padding-top: 5px;
    border: 3px solid var(--theme);
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    font-family: "Disposable DroidBBold";
  }


  .loader {
    position: relative;
    left: 25%;
    top: 30%;
  }

  .trees {
    position: relative;
    left: -30%;
    top: 70%;
  }

  .tree {
    visibility: hidden;
  }

  .todoInputs .button {
    position: relative;
    left: -20px;
  }

  .greet {
    font-size: 1.3em;
  }
  .home .infouse {
    color: #3f70bb;
    font-size: 0.9em;
    background-color: #00000000;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    width:45%;
    top:-190%;
    left:-35%;
    background-color: var(--thm);
    position: absolute;
    font-family: "Disposable DroidBBold";
  }
  .home .quesmark{
    color: #3f70bb;
      font-size: 1.4em;
      background-color: #00000000;
      top:10px;
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
      border-bottom: hidden;
      top:-10px;
      left: 4%;

      position: relative;
      font-family: "Disposable DroidBBold";
  }
}